<div class="contaner navbar">
  <div class="tab">
    <div class="button active">
      <!-- <i class="fas fa-home"></i> -->
      <i class="bi bi-house-fill"></i>
      <div class="text">Home</div>
    </div>
    <div class="button">
      <i class="fas fa-home"></i>
      <div class="text">Community</div>
    </div>
    <div class="button">
      <i class="fas fa-home"></i>
      <div class="text">Deals</div>
    </div>
    <div class="button">
      <i class="fas fa-home"></i>
      <div class="text">Login</div>
    </div>
  </div>
</div>
