<div class = "container landing">
    <img src="../../../assets/colossal.png" class = "">
    <h1>Museum of Art</h1>
    <p>Discover art's beauty with our Museum of Art app.
        Explore masterpieces, enjoy virtual tours,
        and dive into creativity. 
        <br>Your art adventure begins here!</p>
    <button class = "nextButtn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" routerLink ="/home">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg></button>

</div>
